<!-- <h1>Angular Examples</h1>
<hr />
<h1>Structural Directives</h1>

<hr />
<h2>*ngFor example</h2>

<ul>
  <li *ngFor="let skill of skills">
    {{ skill }}
  </li>
</ul>

<hr />

<app-binding></app-binding> -->

<!-- <h2 *ngIf="showMe">
  This statement should show if showMe variable value is true
</h2>

<hr />
<h2>skills by using *ngFor</h2>

<ul>
  <ng-container *ngFor="let skill of skills">
    <li *ngIf="skill < 5">
      {{ skill }}
    </li>
  </ng-container>
</ul> -->

<!-- <h1>I am app.component.html heading.</h1>

<app-parent>
  <h1>This is parents content</h1>
</app-parent> -->

<!-- <h1>Content Projection Example:</h1>
<app-card>
  <h3 class="header">Header Section</h3>
  <div id="body">This is body section</div>
  <div class="footer">This is footer section</div>
</app-card> -->

<app-container></app-container>

<!-- <app-observable></app-observable> -->

<!-- <h3>Pipes Examples:</h3>

<app-purepipe></app-purepipe> -->
