<ng-content></ng-content>
<h1 #parentTitle>Parent Component</h1>

<div>
  <label>Enter Parent Data: </label>
  <input type="text" [(ngModel)]="parentData" #parentInput />
</div>

<!-- <button (click)="showMessage()">Click Me</button> -->

<div>Entered Input : {{ parentData }}</div>

<div>Data recieved from Child Component: {{ recievedData }}</div>

<button (click)="toggleChild()">Toggle Child</button>

<app-child
  *ngIf="showChild"
  [data]="parentData"
  (onChildData)="onDataRecived($event)"
></app-child>
